body {
	background: #F4F4F4 url('../img/background.jpg');
	font-size: 12px;
}

#layout_header {
	height:160px;
	background-image: linear-gradient(to bottom, #F4F4F4 0%, #8CBED4 100%);
}

#layout_header img.logo {
	display: block;
	max-height: 100px;
	/*margin: 0px auto;*/
}

#layout_header .divlogo {
	float: left;
	padding-top: 30px;
}

#layout_header .divimageslogan img{
	float: right;
	max-height: 160px;
}

#layout_header h1.slogan {
	top: 92px;
	position: relative;
	font-size: 35px;
}


.container {
	max-width: 1100px;
}


nav.navbar {
	text-transform: uppercase; 
	/*font-weight: bold;*/
	font-weight: 600;
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: #5DBAE3;
}
.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}
nav.navbar .dropdown-menu {
	border-radius: 0px;
	/*background-color: #50B2D2;*/
}
#btn_search {
	color: #FFF;
	cursor: pointer;
	font-size: 20px;
	padding-top: 9px;
	padding-right: 13px;
}

#textbox-search {
	display: none;
	border-radius: 0px;
	margin-top: 3px;
	background-color:rgba(0, 0, 0, 0.21);
    color:white;
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
    position: absolute;
	right: 50px;
}


.carousel-inner .item img{
  	width:100%;
  	height: 255px;
  	max-height: 255px;
}

.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	margin-left: -37px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -37px;
}
.carousel-indicators li {
	width: 9px;
	height: 9px;
}
.carousel-indicators li.active {
	width: 10px;
	height: 10px;
}
.carousel-indicators {
    bottom: 5px;
}


.thumbnail {
	border-radius: 0px;
}


.panel {
	border-radius: 0px;
}
.panel-heading {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}


#sidebar p.hotline {
	font-size: 17px;
	font-weight: 600;
	color: rgb(231, 64, 64);
}


footer {
	padding: 10px;
	background-image: linear-gradient(to bottom, #1986BF 0%, #0C598F 100%);
	color: rgb(255, 255, 255);
}
footer .menu-mini {
	text-align: right;
}
footer address {

}
footer a {
	color: #D8D8D8;
}

.back-to-top {
	position: fixed;
	bottom: 2em;
	right: 0px;
	text-decoration: none;
	color: #000000;
	background-color: rgba(235, 235, 235, 0.80);
	font-size: 12px;
	padding: 1em;
	display: none;
}
.back-to-top:hover {	
	background-color: rgba(135, 135, 135, 0.50);
}	
